.imageCarousel {
  height: 50%;
  width: 50%;
  margin: 20px Auto;
}

.imageCarousel > img {
  width: 100%;
  opacity:1;

  transition: opacity 0.5;
  -webkit-transition: opacity 0.5;
  -moz-transition: opacity 0.5;
  -o-transition: opacity 0,5;
}

#prev-button, #next-button {
  display: inline-block;
  padding: 8px 12px;
  width: auto;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  outline: none;
  /*inherit color and font */
  color: inherit;
  font: inherit;
  /*normalize line height whatever that does */
  line-height: normal;
  
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS, whoever the fuck uses that can get out of my website */
  /*-webkit-appearance: none;  this gives an annoying error, fuck ios*/

  cursor: pointer;
  
  /* click arrow colors*/
  color: white;
  background-color: rgba(0,0,0,0.8);

  /* border owshit this made the button round */
  border-radius: 50%;

    /* CSS Transitions i dont know what any of this means, i assume supporting different browsers, do they have to do it all differently */
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;

  transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;

}

/* mouse hover changes the buttons colors now */
#prev-button:hover, #next-button:hover {
  color: black;
  background: white;
}

/* Positioning */
/* ow sweet, this puts the prev button on the left and the next button on the right */
#prev-button {
  position: absolute;
  top: 25%;
  left: 25%;
  margin-left: 5px;
}

#next-button {
  position: absolute;
  top: 25%;
  right: 25%;
  margin-right: 10px;
}


