main { 
    color: red;
}
main .bgcolor {
    Background-color:rgba(0, 0, 0, 0.863);
}
h2{
    border: rgb(255, 0, 0) solid 1px;
    font: Verdana;
    color: aliceblue;
}
h3{
    font: Verdana;
    color: Blue;
}
.name{
    text-decoration: underline;
   font-style: oblique;
}
.adjective{
    font-style:italic;
    font-weight: bold;
}