:root {
    --light-grey: #ccc;
    --item-hover-grey: #E6E6E6;
    --button-grey: #757575;
    --button-bg-grey: #f1f1f1;
  }  



.search {
    width: 36rem;
    margin: 0 auto;
    margin-top: 5rem;
    font-family: Arial;
  }
  
  .search_bar_input {
    width: calc(100% - 1.9rem);
    padding: 0.6rem;
    font-size: 16px;
    font-family: Arial;
  }

  .search_suggestions {
    border: 0.5px solid var(--light-grey);
    border-top: 0;
    border-bottom: 0;
    font-size: 16px;
    font-family: Arial;
  }
  
  .search_suggestions_list {
    line-height: 1.5;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .search_suggestions_list_result {
    padding-left: 1rem;
  }

  .search_suggestions_list_result:last-child {
    border-bottom: 1px solid var(--light-grey);
  }
  
  .search_suggestions_list_result:hover {
    background: var(--item-hover-grey);
  }
  
  .search_actions {
    text-align: center;
  }

  .search_actions_action {
    height: 2rem;
    font-size: 13px;
    font-weight: bold;
    font-family: Arial;
    color: var(--button-grey);
    margin-top: 2rem;
    background: var(--button-bg-grey);
  }