/*body{ 
background-color: black;


}
*/
td {
    background-color: #ba7a3a;
    width: 65px;
    height: 65px;
    text-align: center;
}

td.noPieceHere {
background-color: #F0D2bA;
}

.redPiece{
    background-color: red;
    width: 20px;
    height: 20px;
    padding: 12px;
    border: 1px solid white;
    border-radius: 50px;
}

.blackPiece{
    background-color: black;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50px;
    padding: 12px;
}

.kingRedPiece{
    background-color: rgba(216, 145, 14, 0.514);
}

.kingBlackPiece{
    background-color: rgba(165, 5, 165, 0.5);
}


.turns {
   /* text-align:center; */
    border: 5px solid red;
}
.blackTurnText {
    color: lightGrey;
}