body { 
    text-align: center;
}
header{
    background-color: blue;
    color: white;

}

article { 
    border: 3px solid blue;

}
.greenVegetables{
    background-color: rgb(132, 243, 132);
}

.orangeVegetables{
    background-color: rgb(255, 166, 0);
}

ul{
    list-style:none;
}